<p id="notice"><%= notice %></p>

<p>
  <strong>Orderamount:</strong>
  <%= @order.orderamount %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @order.order_date %>
</p>

<p>
  <strong>Ordershipped:</strong>
  <%= @order.shipped %>
</p>
