<p id="notice"><%= notice %></p>

<h1>Cart</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.items.each do |item| %>
      <tr>
        <td><%= item.product.productname %></td>
        <td><%= link_to 'Show', item.product %></td>
        <td><%= link_to 'delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
