<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
                        <% if current_user %>
                        <% @user_id = current_user.id %>
                        <% else %>
                        <% @user_id = cookies.signed[:user_id] %>
                        <% end %>
                        <% @products.each do |product| %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">                            
											<img src="/images/home/product1.jpg" alt="" />
											<h2>$<%= product.price %></h2>
                                               <p><%= link_to product.name, product %></p>
                                            <% if product.stock > 0 %>
											<p><%= link_to "add to cart", add_item_url(product.id)%></p>
                                             <% else %>
                                            <p>Out of stock</p>
                                            <% end %>
										</div>
								</div>
							</div>
						</div>
                        <% end %>
					</div><!--features_items-->
</div>
