<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
                        <% @products.each do |product| %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">                            
											<img src="/images/home/product1.jpg" alt="" />
											<h2>$<%= product.productprice %></h2>
											<p><%= link_to product.productname, product %></p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
								</div>
							</div>
						</div>
                        <% end %>
					</div><!--features_items-->
</div>
